@using CodeCloude.Models

@model IEnumerable<UserSubscriptionVM>;
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- Scroll - horizontal and vertical table -->
<section id="horizontal-vertical">

    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-header">
                    <h4 class="card-title"> الاشتراك</h4>
                </div>
                <div class="card-content">
                    <div class="card-body card-dashboard">
                        <div class="table-responsive">
                            <table class="table nowrap scroll-horizontal-vertical">
                                <thead>
                                    <tr>
                                        <th>Id</th>
                                        <th>اسم المشترك</th>
                                        <th>E-mail المشترك</th>
                                        <th>الاشتراك</th>
                                        <th>تاريخ الاشتراك</th>
                                        <th></th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in Model)
                                    {
                                        <tr>
                                            <td>@item.Id</td>
                                            <td>@item.ApplicationUser.FullName</td>
                                            <td>@item.ApplicationUser.Email</td>
                                            <td>@item.Subscriptions.Subscription_Title</td>
                                            <td>@item.SubscriptionDate.ToShortDateString()</td>
                                          
                                            <td>
                                           
                                            <td class="product-action">
                                            <a asp-action="Delete" asp-controller="UserSubscription" asp-route-id="@item.Id">
                                                    <span class="action-delete"><i class="feather icon-trash"></i></span>
                                                </a>
                                            </td>
                                        </tr>
                                    }

                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--/ Scroll - horizontal and vertical table -->
